<div class="bod">
  <div #container class="container">
    <div class="signin-signup">
      <form class="sign-in-form">
        <h2 class="title">Ingresa</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="password" />
        </div>
        <input type="submit" value="Login" class="btn" />
        <p class="social-text">O inicia sesión con tu red social favorita!</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <p class="account-text">No tienes cuenta? <a href="#" #signUpLink>Registrate</a></p>
      </form>
      <form class="sign-up-form">
        <h2 class="title">Registro</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="text" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="password" />
        </div>
        <input type="submit" value="Sign up" class="btn" />
        <p class="social-text">Ingresa con tu red social favorita</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <p class="account-text">Estas registrado? <a href="#" #signInLink>Ingresa!</a></p>
      </form>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>¿Ya tienes cuenta?</h3>
          <p>"Inicia sesión aquí."</p>
          <button #signInBtn class="btn" id="sign-in-btn">Unirse</button>
        </div>
        <img src="retr.png" alt="aqui va la imagen" class="image">
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Únete a nosotros</h3>
          <p>este es el Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis itaque blanditiis vel, id, voluptatum, ea beatae officia odio veritatis maiores placeat optio quisquam labore molestiae! Nihil rerum quos provident voluptatum!</p>
          <button #signUpBtn class="btn" id="sign-up-btn">Sign up</button>
        </div>
        <img src="exc.png" alt="aqui va la imagen" class="image">
      </div>
    </div>
  </div>
</div>
